{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-5">
    &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
    {{ site.footer_text }}
    {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    Thanks to <a href="https://jaeyoon.io">jyoonsong</a>.
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    
    <div class="notes">
      &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.<br>
      {{ site.footer_text }}
      {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      Thanks to <a href="https://jaeyoon.io">jyoonsong</a>.<br>
      {% if site.last_updated %}
      Last updated: {{ "now" | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </div>
</footer>
{% endif %}
