<div class="card-item col-md-4"  id="{{ project.importance }}">
  <div class="card hoverable" data-toggle="modal" data-target="#{{ project.title | slugify }}">
    {% if project.img %}
      <img src="{{ project.img | relative_url }}" alt="project thumbnail">
    {% endif %}
    <div class="col-md-13">
      <div class="card-body">
        <h6 class="card-title">{{ project.title }}</h6>
        <p class="card-text">{{ project.description }}</p>
        {% for category in project.category %}
          <span class="badge">{{ category }}</span>
        {% endfor %}
        {% for tag in project.tag %}
          <span class="badge">{{ tag }}</span>
        {% endfor %}
        <div class="row ml-1 mr-1 p-0">
        </div>
      </div>
    </div>
  </div>
  <div id="{{ project.title | slugify }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="largeModalLabel">{{ project.title }}</h4>
          <p>{{ project.description }}</p>
          {% for category in project.category %}
            <span class="badge">{{ category }}</span>
          {% endfor %}
          {% for tag in project.tag %}
            <span class="badge">{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="modal-body">{{ project.content }}</div>
      </div>
    </div>
  </div>
</div>
